.vision-section {
  padding: 60px 20px;
  background-color: #ffffff;
}

.vision-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.vision-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.vision-img {
  max-width: 100%;
  height: auto;
  /* border-radius: 16px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.06); */
}

.vision-right {
  flex: 1;
  min-width: 320px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #333;
}



.vision-right h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #6366f1;
  margin-top: 8px;
}

.vision-right p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
}

.brand-name {
  font-weight: 600;
  color: #4f46e5;
}

.highlight {
  font-weight: 500;
  color: #3b82f6;
}

.vision-tagline {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #4b5563;
  border-left: 4px solid #6366f1;
  padding-left: 15px;
  font-style: italic;
}

.vision-right .vis-heading-main{
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.vis-heading-main h2{
  font-weight: 700;

}

/* Mobile Responsive */
.vis-heading{
  color: #00bfa6;
}
@media (max-width: 768px) {
  .vision-container {
    flex-direction: column;
    text-align: center;
  }

  .vision-right {
    align-items: center;
  }

  .vision-right h2::after {
    margin: 8px auto 0;
  }

  .vision-tagline {
    border-left: none;
    border-top: 2px solid #6366f1;
    padding-left: 0;
    padding-top: 10px;
  }

  .vision-right .vis-heading-main{
  font-size: 2rem;
  }
}

