footer{
    background-color: rgb(37, 37, 37);
    color: rgb(225, 225, 225);
    padding: 0px 40px;
}

.footer{
    color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 70px 0px;
}

.footer-navigation, .company-links, .social, .join{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer-navigation a, .company-links a, .social a, .join a{
    color: rgb(118, 118, 118);
    text-decoration: none;
}

.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
        gap: 30px;
    }
    .copyright{
        text-align: center;
    }
}