/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.hero-section {
  background: linear-gradient(135deg, #4B0082, #00BFA6);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 100%;
    height: 90vh;
    gap: 80px;
    /* background-color: red; */
}


.hero-text-heading{
    font-size: 3rem;
    font-weight: bold;
}

.hero-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: aqua; */
}
.hero-img img{
    width: 70%;
    border-radius: 40px;
}

.hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 25px;
}

.hero-text h1{
    
    font-size: 4rem;
}
.hero-text p{
    text-align: justify;
    width: 100%;
}

.hero-text button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    cursor: pointer;
    color: black;
}

.hero-text button:hover{
    transition: all ease-in 0.3s;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .hero-section{
        padding: 0 20px;
    }

    .hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 100%;
    height: 90vh;
    gap: 80px;
    /* background-color: red; */
}

    .hero-img{
        display: none;
    }
    .hero-text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-text h1{
        font-size: 2rem;
        text-align: center;
    }
}